#payement {
    position: absolute;
    top: 400px;
    left: 500px;
    height: 200px;
    width: 500px;
    background-color: rgb(165, 157, 42);
    font-size: larger;
    border-radius: 25%;
}

body {
    overflow-x: hidden;
}