#rectangle-haut {
    position: absolute;
    top: -8.6640625px;
    left: 0px;
    width: 1510px;
    height: 612px;
    background: purple 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 0.22;
  }
  
#logo {
    height: 80px;
    width: 200px;
  }
  
  
  h1{
  color: black;
  }
  
  nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links{
    flex: 1;
    text-align: right;
  }
  
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
  }
  
  .nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
  }
  
  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .nav-links ul li:hover::after{
    width: 100%;
  }