#general_header {
  position: fixed;
  z-index: 5;
}

#rectangle-haut {
    position: fixed;
    top: -8.6640625px;
    left: 0px;
    width: 100%;
    height: 25%;

  
    opacity: 1;
    
    
  }

  
#logo_header {
    /* Layout Properties */
position: absolute;
top: 0px;
left: 50px;
width: 138px;
height: 104px;
z-index: 5;
  }


  
  
  h1{
  color: black;
  }
  
  nav{
    position: fixed;
    right: 0px;
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #1D1D1B 0% 0% no-repeat padding-box;
    opacity: 0.5;
    top: 0px;
    height: 40px;;
  }
  
  .nav-links{
    position: fixed;
    flex: 1;
    right: 10vw;
  }
  
  .nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
   
  }
  
  .nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
  }

 
  
  .nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  
  .nav-links ul li:hover::after{
    width: 100%;
  }

  .checkbtn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    cursor: pointer;
  }

  #check{
    display: none;
  }

  #qui-sommes-nous_h{
    
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
                                                
    
  }

  #qui-sommes-nous_h:hover{
    background: rgba(229, 20, 126, .65);
  }

  #le-concept_h{
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
  }

  #le-concept_h:hover{
    background: rgba(247, 230, 24, 0.65);
  }

  #association_h{
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
  }

  #association_h:hover{
    background: rgba(103, 197, 220, 0.65);
  }

  

  #billetterie_h{
    
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
  }

  #billetterie_h:hover{
    background: rgba(229, 20, 126, .65);
  }

  #faq_h{
    border-radius: 28px;
    font-family: 'Montserrat', sans-serif;
  }

  #faq_h:hover{
    background: rgba(247, 230, 24, 0.65);
  }

  #contactez-nous_h{
  
  border-radius: 28px;
  font-family: 'Montserrat', sans-serif;
}

#contactez-nous_h:hover{
  background: rgba(103, 197, 220, 0.65);
}
  