

#logo {
    height: 80px;
    width: 200px;
}




h1{
color: black;
}
#photo_header {
    
  position: absolute;
  
  z-index: -5;

  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}


nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: black;
  text-decoration: none;
  font-size: 13px;
}



.nav-links ul li:hover::after{
  width: 100%;
}

.text-box{
position: absolute;
top: 250px;
left: 300px;
width: 744px;
height: 189px;
}
.text-box h1{

text-align: center;
font: normal normal normal 100px Bebas Neue;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: black;
}

.le-concept{
  position: absolute;
  top: 900px;
  height: 600px;
  width: 100%;
}

.le-concept h1{
 

/* UI Properties */


text-align: left;
font: normal normal normal 50px/58px Bebas Neue;
letter-spacing: 0px;
color: #E5147E;
opacity: 1;
}

.le-concept p{
  width: 536px;
height: 210px;
}

#concept1 {
  position: absolute;
  top: 100px;
  left: 800px;
width: 200px;
height: 100px;
border-radius: 25%;
}

#concept2 {
  position: absolute;
  top: 100px;
  left: 1050px;
width: 200px;
height: 100px;
border-radius: 25%;
}

#concept3 {
  position: absolute;
  top: 250px;
  left: 830px;
width: 400px;
height: 100px;
border-radius: 25%;
}

#en-savoir{
  position: absolute;
 top: 250px;
width: 229px;
height: 30px;
background-color: #E5147E;
}

.qui-sommes-nous{
  position: absolute;
  left: 0px;
  top: 1500px;
  height: 600px;
  width: 100%;
  background: #67C5DC 0% 0% no-repeat padding-box;
opacity: 0.65;
}

#button-qui-sommes-nous{
  position: absolute;
  top: 200px;
  left: 50%;
  width: 229px;
  height: 50px;

/* UI Properties */

color: var(---67c5dc);
text-align: center;
font: normal normal 600 25px/36px Montserrat;
letter-spacing: 0px;
color: #67C5DC;
text-transform: uppercase;
opacity: 1;
}

.qui-sommes-nous h1{
  position: absolute;
  left: 45%;
}

.qui-sommes-nous p{
  position: absolute;
  left: 40%;
  top: 15%;
}

#photo-qui-sommes-nous{
  position: absolute;
  top: 350px;
left: 35%;
width: 40%;
height: 200px;

/* UI Properties */

background: transparent url('img/Placement Area [ASSET:small][SIZE:Default][STATE:DEFAULT].png') 0% 0% no-repeat padding-box;
border-radius: 250px;
opacity: 1;
background-color: gray;
}

.association {
  position: absolute;
  top: 2100px;
  height: 600px;
  width: 100%;
}

#lieux{
  position: absolute;
  top: 600px;
}

#plan {
  position: absolute;
  left: 500px;
  top: 50px;
  height: 300px;
  width: 300px;
}

#la_course {
  position: absolute;
  top: 1000px;
  left: 500px;
}


#run-in-color {
  
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  font: normal normal bold 56px/66px Noto Sans;
  letter-spacing: 0px;
  color: #3C3C3C;
  opacity: 1;
}


.concept2 p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: black;
}

#img-1{
  position: absolute;
  width: 150px;
  height: 150px;
  left: 60%;
  top: 40px;
  background-color: #f44336;
}

#img-2{
  position: absolute;
  width: 150px;
  height: 150px;
  top: 40px;
  left: 80%;
  background-color: #f44336;
}

#img-3{
  position: absolute;
  width: 300px;
  height: 300px;
  top: 250px;
  left: 65%;
  background-color: #f44336;
}

body {
  overflow-x: hidden;
}
