body {
overflow-x: hidden;
}

#titre {
position: absolute;
top: 300px;
left: 550px;
width: 500px;
height: 55px;

/* UI Properties */

text-align: center;
font: normal normal bold 56px/66px Noto Sans;
letter-spacing: 0px;
color: #3C3C3C;
opacity: 1;
}

#blabla {
position: absolute;
left: 550px;
top: 400px;
width: 450px;


/* UI Properties */

text-align: center;
font: normal normal medium 16px/26px Noto Sans;
letter-spacing: 0px;
color: #737373;
opacity: 1;
}

#blabla_guillaume {
    color: #80C5DA;
}

#blabla_salomé {
    color: #D3317D;
}

#blabla_juliette {
    color: #D3317D;
}

#blbla_mélissa-b {
    color: #F4E962;
}

#blabla_johann {
    color: #80C5DA;
}

#blabla_maella {
    color: #F4E962;
}

#blabla_rémi {
    color: #80C5DA;
}

#blabla_mélissa-p {
    color: #F4E962;
}

#notre-projet {
position: relative;
top: 600px;
width: 500px;
height: 55px;

/* UI Properties */

text-align: left;
font: normal normal bold 40px/50px Noto Sans;
letter-spacing: 0px;
color: #3D3D3D;
opacity: 1;
}

#notre-projet h1 {
    position: relative;
    left: 600px;
}

#notre-projet p {
    /* Layout Properties */
position: relative;
left: 200px;
width: 1041px;
height: 126px;

/* UI Properties */

text-align: center;
font: normal 16px/26px Noto Sans;
letter-spacing: 0px;
color: #737373;
opacity: 1;
}


#équipe {
    /* Layout Properties */
position: relative;
top: 1000px;
left: 163px;
width: 1041px;
height: 115px;

/* UI Properties */

opacity: 1;
}

#équipe h1 {
    /* Layout Properties */
position: relative;
left: 598px;
width: 172px;
height: 55px;

/* UI Properties */

text-align: left;
font: normal normal bold 40px/50px Noto Sans;
letter-spacing: 0px;
color: #3D3D3D;
opacity: 1;
}

#guillaume {
position: absolute;
left: 300px;
border-radius: 50%;
width: 250px;
height: 250px;
}

#guillaume_name {
    position: absolute;
    top: 310px;
    left: 300px;
    font: normal normal bold 30px/50px Noto Sans;
    color: #80C5DA;
}

#guillaume_role {
    position: absolute;
    top: 380px;
    left: 350px;
}

#salome {
position: absolute;
left: 800px;
border-radius: 50%;
width: 250px;
height: 250px;
}

#salome_name {
    position: absolute;
    top: 310px;
    left: 850px;
    font: normal normal bold 30px/50px Noto Sans;
    color: #D3317D;
}

#salome_role {
    position: absolute;
    top: 380px;
    left: 880px;
}

#mellisa_p {
    position: absolute;
    top: 500px;
    left: 100px;
    border-radius: 50%;
    width: 250px;
height: 250px;
}

#mellisa_p_name {
    position: absolute;
    top: 730px;
    left: 100px;
    font: normal normal bold 30px/50px Noto Sans;
    color: #F4E962;
}

#mellisa_p_role {
    position: absolute;
    top: 800px;
    left: 130px;
}

#juliette {
    position: absolute;
    top: 500px;
    left: 500px;
    border-radius: 50%;
    width: 250px;
height: 250px;
}

#juliette_name {
    position: absolute;
    top: 730px;
    left: 500px;
    font: normal normal bold 30px/50px Noto Sans;
    color: #D3317D;
}

#juliette_role {
    position: absolute;
    top: 800px;
    left: 530px;
}

#mellisa_b {
    position: absolute;
    top: 500px;
    left: 900px;
    border-radius: 50%;
    width: 250px;
height: 250px;
}

#mellisa_b_name {
    position: absolute;
    top: 730px;
    left: 930px;
    width: 300px;
    font: normal normal bold 30px/50px Noto Sans;
    color: #F4E962;
}

#mellisa_b_role {
    position: absolute;
    top: 800px;
    left: 945px;
    width: 300px;
}

#johann {
    position: absolute;
    top: 1000px;
    left: 100px;
    border-radius: 50%;
    width: 250px;
height: 250px;
}

#johann_name {
    position: absolute;
    top: 1250px;
    left: 120px;
    width: 300px;
    font: normal normal bold 30px/50px Noto Sans;
    color: #80C5DA;
}

#johann_role {
    position: absolute;
    top: 1330px;
    left: 160px;
    width: 300px;
}

#maella {
    position: absolute;
    top: 1000px;
    left: 500px;
    border-radius: 50%;
    width: 250px;
height: 250px;
}

#maella_name {
    position: absolute;
    top: 1250px;
    left: 540px;
    width: 300px;
    font: normal normal bold 30px/50px Noto Sans;
    color: #F4E962;
}

#maella_role {
    position: absolute;
    top: 1330px;
    left: 570px;
    width: 300px;
}

#rémi {
    position: absolute;
    top: 1000px;
    left: 900px;
    border-radius: 50%;
    width: 250px;
height: 250px;
}

#rémi_name {
    position: absolute;
    top: 1250px;
    left: 930px;
    width: 300px;
    font: normal normal bold 30px/50px Noto Sans;
    color: #80C5DA;
}

#rémi_role {
    position: absolute;
    top: 1330px;
    left: 970px;
    width: 300px;
}